#high-score {
  margin-top: 50px;
  margin-left: 40px;
  font-size: 30px;
}
#timer {
  text-align: end;
  font-size: 20px;
}
#title {
  text-align: center;
}
.score {
  font-size: 30px;
}
main {
  text-align: center;
}
#container {
  justify-content: space-between;
}
