#high-score {
  font-size: 30px;
}
#timer {
  text-align: end;
  font-size: 20px;
}
#title {
  text-align: center;
}
.score {
  font-size: 30px;
}
main {
  text-align: center;
}
#container {
  justify-content: space-between;
  margin-top: 10%;
}

/* HighScore Page */

#go-back {
  font-size: 30px;
}
